---
layout: plugin_list
title: OctoPrint Plugin Repository
---

<h2><i class="icon-asterisk"></i> Most recently added plugins</h2>
<div>
  <small class="pull-right"><a href="{% include canonic_url url='/feed.xml' %}"><i class="icon-rss"></i> RSS Feed</a></small>
</div>
<ul>
  {% assign sorted_plugins = site.plugins | sort: 'date', 'last' | reverse %}
  {% for plugin in sorted_plugins limit:10 %}
  <li>{% include plugin_snippet plugin=plugin %}</li>
  {% endfor %}
</ul>
<div>
  <a href="{{ '/by_date/' | prepend: site.baseurl }}">More...</a>
</div>
