---
layout: page
title: Plugins by Tag
---

{% assign all_tags = "" | split: "/" %}
{% for plugin in site.plugins %}
  {% for tag in plugin.tags %}
    {% assign preprocessed = tag | strip | downcase %}
    {% unless preprocessed == "" %}
      {% assign all_tags = all_tags | push: preprocessed %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign all_tags = all_tags | uniq | sort %}

<i class="icon-tag"></i>
{% for tag in all_tags %}
  {% unless tag == "" %}{% include plugin_tag tag=tag %}{% endunless %}
{% endfor %}

{% for tag in all_tags %}
{% unless tag == "" %}
<h2 id="tag-{{ tag | slugify }}">{{ tag }}</h2>

<ul>
  {% for plugin in site.plugins %}
    {% assign plugin_tags = "" | split: "/" %}
    {% for tag in plugin.tags %}
      {% assign lower_tag = tag | downcase %}
      {% assign plugin_tags = plugin_tags | push: lower_tag %}
    {% endfor %}
    {% if plugin_tags contains tag %}
    <li>{% include plugin_snippet plugin=plugin %}</li>
    {% endif %}
  {% endfor %}
</ul>
{% endunless %}
{% endfor %}
