      <footer>
          <div class="container">
              <div class="row">
                  <div class="span4">
                      <h2>On the web</h2>
                      <ul class="fa-ul">
                          <li><span class="fa-li"><i class="fas fa-users fa-fw"></i></span><a href="https://community.octoprint.org">Community Forum</a></li>
                          <li><span class="fa-li"><i class="fab fa-discord fa-fw"></i></span><a href="https://discord.octoprint.org" target="_blank">Discord</a></li>
                          <li><span class="fa-li"><i class="fab fa-twitter fa-fw"></i></span><a href="{{ site.twitterlink }}" target="_blank">Twitter</a></li>
                          <li><span class="fa-li"><i class="fab fa-facebook-f fa-fw"></i></span><a href="{{ site.facebooklink }}" target="_blank">Facebook</a></li>
                          <li><span class="fa-li"><i class="fab fa-youtube fa-fw"></i></span><a href="{{ site.youtubelink }}" target="_blank">YouTube</a></li>
                          <li><span class="fa-li"><i class="fas fa-tachometer-alt fa-fw"></i></span><a href="https://status.octoprint.org" target="_blank">Site Status</a></li>
                          <li><span class="fa-li"><i class="fas fa-gavel fa-fw"></i></span><a href="https://octoprint.org/imprint/" rel="nofollow">Legal Notice</a></li>
                          <li><span class="fa-li"><i class="fas fa-gavel fa-fw"></i></span><a href="https://octoprint.org/privacy/" rel="nofollow">Privacy Policy</a></li>
                      </ul>
                  </div>
                  <div class="span4">
                      <h2>Recently Added</h2>
                      <ul>
                          {% assign sorted_plugins = (site.plugins | sort: 'date' | reverse ) %}
                          {% for plugin in sorted_plugins limit: 5 %}
                          <li>
                              <a class="post-link" href="{{ plugin.url | prepend: site.baseurl }}">{{ plugin.title }}</a>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
                  <div class="span4 hidden-phone">
                      <a href="http://octoprint.org"><img src="/assets/img/logo-footer.png" alt="Octopus logo" class="pull-right"></a>
                  </div>
              </div>
              <div class="row">
                  <div class="span12 text-center legal">
                      <small>"OctoPrint" is a <a href="http://octoprint.org/trademark-rules/">registered trademark</a></small>
                  </div>
              </div>
          </div>
      </footer>
