      <footer>
          <div class="container">
              <div class="row">
                  <div class="span4">
                      <h2>Contact</h2>
                      <ul class="icons">
                          <li><i class="icon-group"></i><a href="https://community.octoprint.org">Community Forum</a></li>
                          <li><i class="icon-comments-alt"></i> <a href="irc://chat.freenode.net/octoprint" target="_blank">#octoprint on freenode</a> (<a href="https://chat.octoprint.org">Webchat</a>, <a href="https://freenode.logbot.info/octoprint">Logs</a>)</li>
                          <li><i class="icon-google-plus"></i> <a href="https://plus.google.com/+OctoprintOrg/posts" target="_blank">+OctoPrint</a></li>
                          <li><i class="icon-facebook-sign"></i> <a href="https://facebook.com/OctoPrint" target="_blank">OctoPrint</a></li>
                          <li><i class="icon-twitter"></i> <a href="https://twitter.com/OctoPrint3D" target="_blank">@OctoPrint3D</a></li>
                          <li><i class="icon-dashboard"></i> <a href="https://status.octoprint.org" target="_blank">Site Status</a></li>
                          <li><i class="icon-legal"></i> <a href="https://octoprint.org/imprint/" rel="nofollow">Legal Notice</a></li>
                          <li><i class="icon-legal"></i> <a href="https://octoprint.org/privacy/" rel="nofollow">Privacy Policy</a></li>
                      </ul>
                  </div>
                  <div class="span4">
                      <h2>Recently Added</h2>
                      <ul>
                          {% assign sorted_plugins = (site.plugins | sort: 'date' | reverse ) %}
                          {% for plugin in sorted_plugins limit: 5 %}
                          <li>
                              <a class="post-link" href="{{ plugin.url | prepend: site.baseurl }}">{{ plugin.title }}</a>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
                  <div class="span4 hidden-phone">
                      <a href="http://octoprint.org"><img src="/assets/img/logo-footer.png" alt="Octopus logo" class="pull-right"></a>
                  </div>
              </div>
              <div class="row">
                  <div class="span12 text-center legal">
                      <small>"OctoPrint" is a <a href="http://octoprint.org/trademark-rules/">registered trademark</a></small>
                  </div>
              </div>
          </div>
      </footer>
