<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand hidden-phone" href="/"><img src="/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"> {{ site.title }}</a>
      <a class="brand visible-phone" href="/"><img src="/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"> {{ site.short_title }}</a>
      <a href="javascript:void(0)" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="pull-right">
        <ul class="nav social-navbar">
          <li><a href="http://octoprint.org/support-octoprint/" title="Support OctoPrint!" target="_blank"><img src="{{ BASE_PATH }}/assets/img/patreon.png" style="height: 18px; margin-top: -4px"></a></li>
        </ul>
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li{% if page.url == '/by_name/index.html' %} class="active"{% endif %}><a href="{{ '/by_name/' | prepend: site.baseurl }}">by Name</a></li>
          <li{% if page.url == '/by_date/index.html' %} class="active"{% endif %}><a href="{{ '/by_date/' | prepend: site.baseurl }}">by Date</a></li>
          <li{% if page.url == '/by_tag/index.html' %} class="active"{% endif %}><a href="{{ '/by_tag/' | prepend: site.baseurl }}">by Tag</a></li>
          <li><form class="navbar-search pull-left" action="{{ '/search/' | prepend: site.baseurl }}" method="get"><input type="text" class="search-query" placeholder="Enter search term &amp; hit enter..." name="q"></form></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ '/help/installation/' | prepend: site.baseurl }}">Installing Plugins</a></li>
              <li><a href="{{ '/help/registering/' | prepend: site.baseurl }}">Registering Plugins</a></li>
              <li><a href="http://docs.octoprint.org/en/master/plugins/gettingstarted.html">The Plugin Tutorial</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
