<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand hidden-phone" href="/"><img src="/assets/img/tentacle-20x20.png" class="tentacle"> {{ site.title }}</a>
      <a class="brand visible-phone" href="/"><img src="/assets/img/tentacle-20x20.png" class="tentacle"> {{ site.short_title }}</a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="{{ '/by_name/' | prepend: site.baseurl }}">by Name</a></li>
          <li><a href="{{ '/by_date/' | prepend: site.baseurl }}">by Date</a></li>
          <li><a href="{{ '/by_tag/' | prepend: site.baseurl }}">by Tag</a></li>
          <li><a href="http://octoprint.org">OctoPrint Home</a></li>
        </ul>
      </div>
      <div class="pull-right visible-desktop">
        <a class="brand" href="http://www.bq.com"><span class="bqlogo" /></a>
      </div>
    </div>
  </div>
</div>
