---
layout: plugin_list
title: Plugins by Author
---

{% assign all_authors = "" | split: "/" %}
{% for plugin in site.plugins %}
  {% if plugin.authors %}
    {% for author in plugin.authors %}
      {% unless author == "" %}
        {% assign all_authors = all_authors | push: author %}
      {% endunless %}
    {% endfor %}
  {% else %}
    {% unless plugin.author == "" %}
      {% assign all_authors = all_authors | push: plugin.author %}
    {% endunless %}
  {% endif %}
{% endfor %}
{% assign all_authors = all_authors | uniq | sort_natural %}

<i class="fa fa-user"></i>
{% for author in all_authors %}
  {% unless author == "" %}{% include plugin_author author=author %}{% endunless %}
{% endfor %}

{% for author in all_authors %}
  {% unless author == "" %}
  <h2 id="{{ author | slugify }}">{{ author }}</h2>
  <ul>
  {% for plugin in site.plugins %}
    {% if plugin.authors %}
      {% for a in plugin.authors %}
        {% if author == a  %}
          <li>{% include plugin_snippet plugin=plugin %}</li>
        {% endif %}
      {% endfor %}
    {% else %}
      {% if author == plugin.author  %}
        <li>{% include plugin_snippet plugin=plugin %}</li>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
  {% endunless %}
{% endfor %}
