---
layout: none
---
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{ page.title | strip_html | strip_newlines | escape }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html | strip_newlines | escape }}">{% endif %}
    {% if page.author %}<meta name="author" content="{{ page.author | strip_html | strip_newlines | escape }}">{% endif %}

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shim.js"></script>
    <![endif]-->

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/assets/css/prettify.css">
    <link rel="stylesheet" href="/assets/css/lightbox.css">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/img/tentacle-32x32.png">

    <!-- Le RSS feed -->
    <link rel="alternate" type="application/rss+xml" title="OctoPrint Plugin Repository: New Plugins" href="{{ '/feed.xml' | prepend: site.baseurl }}">

    <!-- Le social media meta data -->
    {% capture thetitle %}{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
    {% capture thedescription %}{% if page.excerpt %}{{ page.excerpt | strip_html | xml_escape }}{% else %}{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description }}{% endif %}{% endif %}{% endcapture %}
    {% if page.featuredimage %}
        {% capture theimage %}{{ site.external }}{{ BASE_PATH }}{{ page.featuredimage }}{% endcapture %}
        {% capture thecard %}{{ site.external }}{{ BASE_PATH }}{{ page.card }}{% endcapture %}
    {% else %}
        {% capture theimage %}{{ site.external }}{{ BASE_PATH }}/assets/img/repo-600x400.png{% endcapture %}
        {% capture thecard %}{{ site.external }}{{ BASE_PATH }}/assets/img/octoprint-avatar-240x240.png{% endcapture %}
    {% endif %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    <meta name="twitter:title" content="{{ thetitle }}" />
    <meta name="twitter:description" content="{{ thedescription }}" />
    <meta name="twitter:image" content="{{ thecard }}" />

    <meta property="og:title" content="{{ thetitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ theimage }}" />
    <meta property="og:description" content="{{ thedescription }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ page.url | prepend: BASE_PATH | prepend: site.external }}" />

    <meta itemscope itemtype="http://schema.org/WebPage" />
    <meta itemprop="headline" content="{{ thetitle }}" />
    <meta itemprop="description" content="{{ thedescription }}" />
    <meta itemprop="image" content="{{ theimage }}" />

    <script src="/assets/js/jquery-1.9.1.min.js"></script>
    <script src="/assets/js/underscore.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/cookieconsent.min.css" />
    <script src="/assets/js/cookieconsent.min.js"></script>
    <script>
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function(search, pos) {
            return this.substr(!pos || pos < 0 ? 0 : +pos, search.length) === search;
            };
        }

        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "position": "bottom",
                "theme": "edgeless",
                "palette": {
                    "popup": {
                        "background": "#000000",
                        "link": "#10a800"
                    },
                    "button": {
                        "background": "#0b7500"
                    }
                }
            })
        });

        /**
         * Make sure octoprint.github.io stuff gets rewritten to plugins.octoprint.org.
         * See https://github.com/OctoPrint/plugins.octoprint.org/issues/146.
         */
        var githubio = "octoprint.github.io/plugins.octoprint.org";
        var url = window.location.href;
        if (url && (url.startsWith("http://" + githubio) || url.startsWith("https://" + githubio))) {
            url = url.replace(githubio, "plugins.octoprint.org");
            window.location.replace(url);
        }
    </script>
</head>

<body>

{% include navigation.html %}

<div id="wrap">
    <div id="main">
    {{ content }}
    </div>
</div>

{% include footer.html %}

<script src="/assets/js/prettify.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/mustache.js"></script>
<script src="/assets/js/URI.min.js"></script>
<script src="/assets/js/date.format.js"></script>
<script src="/assets/js/jquery.lunr.search.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script src="/assets/js/site.js"></script>
<script src="/assets/js/yt-with-consent.js"></script>

<script>
    var gaBaseProperty = 'UA-62479257';
    var gaProperty = gaBaseProperty + '-2';

    // opt out
    var disableStr = 'ga-disable-' + gaProperty;
    var disableCookie = 'ga-disable-' + gaBaseProperty;
    function gaOptout() {
        document.cookie = disableCookie + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/; domain=octoprint.org';
        window[disableStr] = true;
        alert("Google Analytics ist jetzt deaktiviert! / Google Analytics is now deactivated!")
    }

    // tracking code
    if (document.cookie.indexOf(disableCookie + '=true') > -1) {
        window[disableStr] = true;
    } else {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', gaProperty, 'auto');
        ga('require', 'autotrack');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    }
</script>

</body>
</html>
