---
layout: default
---
{% assign sorted_plugins = site.plugins | sort: 'title' %}
{% assign found_plugin = false %}
{% assign prev_plugin = false %}
{% assign next_plugin = false %}
{% assign prev_plugin_temp = false %}
{% for plugin in sorted_plugins %}
  {% if found_plugin %}
    {% unless next_plugin %}
      {% assign next_plugin = plugin %}
    {% endunless %}
  {% else %}
    {% if plugin.id == page.id %}
      {% assign found_plugin = true %}
      {% assign prev_plugin = prev_plugin_temp %}
    {% else %}
      {% assign prev_plugin_temp = plugin %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>{{ page.title | strip_html | strip_newlines | escape }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    {% if prev_plugin %}
    <small class="pull-left"><a href="{{ prev_plugin.url | prepend: site.baseurl }}"><i class="fa fa-double-angle-left"></i>&nbsp;{{ prev_plugin.title | strip_html | strip_newlines | escape }}</a></small>
    {% endif %}
    &nbsp;
    {% if next_plugin %}
    <small class="pull-right"><a href="{{ next_plugin.url | prepend: site.baseurl }}">{{ next_plugin.title | strip_html | strip_newlines | escape }}&nbsp;<i class="fa fa-double-angle-right"></i></a></small>
    {% endif %}
  </div>
  <div class="content plugin-content row-fluid">
    <article class="post-content span8">
      {% if page.disabled %}<div class="alert alert-danger"><h3>This plugin is currently marked as disabled</h3>{{ page.disabled | markdownify }}</div>{% endif %}
      {% if page.up_for_adoption %}<div class="alert"><h3>This plugin is up for adoption</h3>The current maintainer of this plugin is looking for someone to take over maintenance. <a href="{{ page.up_for_adoption }}" target="_blank" rel="noopener noreferrer">Learn more...</a></div>{% endif %}
      {% if page.abandoned %}<div class="alert"><h3>This plugin has been abandoned</h3>The current maintainer of this plugin seems to have abandoned it. If you want to take over its maintainenance, please get in touch <a href="{{ page.abandoned }}" target="_blank" rel="noopener noreferrer">here...</a></div>{% endif %}
      {% if page.note %}<div class="alert"><h3>Please note</h3>{{ page.note | markdownify }}</div>{% endif %}

      <p class="lead">
        {{ page.description | strip_html | escape }}
      </p>
      {{ content }}

      {% if page.screenshots %}
        <h2>Pictures</h2>
        {% for screenshot in page.screenshots %}
        <figure>
          {% capture screenie %}{% include canonic_url url=screenshot.url %}{% endcapture %}
          <a href="{{ screenie | strip_html | strip_newlines | escape }}" data-lightbox="{{ page.id | strip_html | strip_newlines | escape }}" data-title="{{ screenshot.caption | strip_html | strip_newlines | escape }}"><img src="{{ screenie | strip_html | strip_newlines | escape }}" alt="{% if screenshot.alt %}{{ screenshot.alt | strip_html | strip_newlines | escape }}{% else %}{% if screenshot.caption %}{{ screenshot.caption | strip_html | strip_newlines | escape }}{% else %}{{ screenie | strip_html | strip_newlines | escape }}{% endif %}{% endif %}" title="{{ screenshot.caption | strip_html | strip_newlines | escape }}"></a>
        </figure>
        {% endfor %}
      {% endif %}
    </article>

    <div class="span4">
      <dl class="adbox">
        <dd class="ad">
          {% include adsnippet.html %}
        </dd>
      </dl>
      {% if page.archive %}
      <dl class="installation">
        <dt>Installation <a href="/help/installation/" class="fas fa-question-circle"></a></dt>
        {% if page.disabled %}
        <dd>
          URL:
          <pre><s>{{ page.archive | escape | escape | strip_newlines }}</s></pre>
          <small>Currently not recommended</small>
          {% if page.follow_dependency_links %}<small>Needs "Use --process-dependency-links with pip install" to be checked.</small>{% endif %}
        </dd>
        {% else %}
        <dd>
          URL:
          <pre>{{ page.archive | escape | escape | strip_newlines }}</pre>
          {% if page.follow_dependency_links %}<small>Needs "Use --process-dependency-links with pip install" to be checked.</small>{% endif %}
        </dd>
        {% endif %}
        {% if page.disabled %}
        <dd>
          Command line:
          <pre><s>pip install {% if page.follow_dependency_links %}--process-dependency-links {% endif %}"{{ page.archive | strip_html | strip_newlines | escape }}"</s></pre>
          <small>Currently not recommended</small>
        </dd>
        {% else %}
        <dd>
          Command line:
          <pre>pip install {% if page.follow_dependency_links %}--process-dependency-links {% endif %}"{{ page.archive | escape | escape | strip_newlines }}"</pre>
        </dd>
        {% endif %}
      </dl>
      {% endif %}
      {% if page.date %}
      <dl class="date">
        <dt>Registration date</dt>
        <dd>{{ page.date | strip_html | strip_newlines | escape | date_to_string}}</dd>
      </dl>
      {% endif %}
      {% if page.tags %}
      <dl class="tags">
        <dt>Tags</dt>
        <dd>
          {% assign plugin_tags = "" | split: "/" %}
          {% for tag in page.tags %}
            {% assign preprocessed = tag | strip | downcase %}
            {% unless preprocessed == "" %}
              {% assign plugin_tags = plugin_tags | push: preprocessed %}
            {% endunless %}
          {% endfor %}
          {% assign tags = plugin_tags | sort %}
          {% for tag in tags %}
          {% include plugin_tag tag=tag %}
          {% endfor %}
        </dd>
      </dl>
      {% endif %}
      <dl class="compatibility">
        <dt>Compatibility Information</dt>
        <dd>
          <ul>
            {% if page.compatibility contains "octoprint" %}
            <li>OctoPrint: {% include octoprint_compat_human entries=page.compatibility.octoprint %}</li>
            {% else %}
            <li>OctoPrint: all versions</li>
            {% endif %}
            {% if page.compatibility.os %}
            <li>Operating Systems: {% include os_compat_human entries=page.compatibility.os %}</li>
            {% else %}
            <li>Operating Systems: all</li>
            {% endif %}
            {% if page.compatibility.python %}
            <li>Python: {{ page.compatibility.python | strip_html | strip_newlines | escape }}</li>
            {% else %}
            <li>Python: &gt;=2.7,&lt;3</li>
            {% endif %}
          </ul>
        </dd>
      </dl>
      {% if page.author %}
      <dl class="author">
        <dt>Author</dt>
        <dd>{{ page.author | strip_html | strip_newlines | escape }}</dd>
      </dl>
      {% endif %}
      {% if page.homepage %}
      <dl class="homepage">
        <dt>Homepage</dt>
        <dd><a href="{{ page.homepage | strip_html | strip_newlines | escape }}" target="_blank">{{ page.homepage | strip_html | strip_newlines | escape }}</a></dd>
      </dl>
      {% endif %}
      {% if page.source %}
      <dl class="source">
        <dt>Source</dt>
        <dd><a href="{{ page.source | strip_html | strip_newlines | escape }}" target="_blank">{{ page.source | strip_html | strip_newlines | escape }}</a></dd>
      </dl>
      {% endif %}
      {% if page.license %}
      <dl class="license">
        <dt>License</dt>
        <dd>{{ page.license | strip_html | strip_newlines | escape }}</dd>
      </dl>
      {% endif %}
      <dl class="issue">
        <dt>Something wrong here?</dt>
        <dd>
          <p>
            If there is <strong>something wrong with this listing</strong> (broken links & images etc), please
            <a href="https://github.com/OctoPrint/plugins.octoprint.org/issues/new?labels%5B%5D=bug&template=listing_error.md&title=%5BListing+Error%5D+{{ page.title | strip_html | strip_newlines | cgi_escape }}">report it here</a>.
          </p>
          <p>
            If this plugin <strong>has been <em>confirmed</em> as abandoned</strong> by its maintainer, please
            <a href="https://github.com/OctoPrint/plugins.octoprint.org/issues/new?labels%5B%5D=abandoned+plugin&template=abandoned_plugin.md&title=%5BAbandoned+Plugin%5D+{{ page.title | strip_html | strip_newlines | cgi_escape }}">report it here</a>.
          </p>
          <p>
            If this plugin is <strong>doing something suspicious</strong> (e.g. weird network activity, unannounced tracking, ...) and
            the maintainer is not cooperating in getting to the bottom of that, please
            <a href="https://github.com/OctoPrint/plugins.octoprint.org/issues/new?labels%5B%5D=suspicious+plugin+activity&template=suspicious_plugin_activity.md&title=%5BSuspicious+Plugin+Activity%5D+{{ page.title | strip_html | strip_newlines | cgi_escape }}">report the plugin as suspicious here</a>.
          </p>
          <p>
            Report bugs or feature requests for the plugin to the plugin author{% if page.homepage %} (e.g. on the plugin's <a href="{{ page.homepage }}">homepage</a>){% endif %} please, not here!
          </p>
        </dd>
      </dl>
    </div>

  </div>
</div>

