---
layout: default
---
{% assign sorted_plugins = (site.plugins | sort: 'title') %}
{% assign found_plugin = false %}
{% assign prev_plugin = false %}
{% assign next_plugin = false %}
{% assign prev_plugin_temp = false %}
{% for plugin in sorted_plugins %}
  {% if found_plugin %}
    {% unless next_plugin %}
      {% assign next_plugin = plugin %}
    {% endunless %}
  {% else %}
    {% if plugin.id == page.id %}
      {% assign found_plugin = true %}
      {% assign prev_plugin = prev_plugin_temp %}
    {% else %}
      {% assign prev_plugin_temp = plugin %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    {% if prev_plugin %}
    <small class="pull-left"><a href="{{ prev_plugin.url | prepend: site.baseurl }}"><i class="icon-double-angle-left"></i>&nbsp;{{ prev_plugin.title }}</a></small>
    {% endif %}
    &nbsp;
    {% if next_plugin %}
    <small class="pull-right"><a href="{{ next_plugin.url | prepend: site.baseurl }}">{{ next_plugin.title }}&nbsp;<i class="icon-double-angle-right"></i></a></small>
    {% endif %}
  </div>
  <div class="content plugin-content row-fluid">
    <article class="post-content span8">
      <p class="lead">
        {{ page.description }}
      </p>
      {{ content }}
    </article>

    <div class="span4">
      {% if page.archive %}
      <dl class="installation">
        <dt>Installation <a href="/help/installation/" class="icon-question-sign"></a></dt>
        <dd><pre>pip install {% if page.follow_dependency_links %}--process-dependency-links {% endif %}{{ page.archive }}</pre></dd>
      </dl>
      {% endif %}
      {% if page.tags %}
      <dl class="tags">
        <dt>Tags</dt>
        <dd>
          {% assign tags = (page.tags | sort) %}
          {% for tag in tags %}
          {% include plugin_tag tag=tag %}
          {% endfor %}
        </dd>
      </dl>
      {% endif %}
      <dl class="compatibility">
        <dt>Compatibility Information</dt>
        <dd>
          <ul>
            {% if page.compatibility contains "octoprint" %}
            <li>OctoPrint: {% for ver in page.compatibility.octoprint %}{{ ver }}{% unless forloop.last %}, {% endunless %}{% endfor %}</li>
            {% else %}
            <li>OctoPrint: all versions</li>
            {% endif %}
            {% if page.compatibility contains "os" %}
            <li>Operating Systems: {% for os in page.compatibility.os %}{% if os == "windows" %}Windows{% endif %}{% if os == "linux" %}Linux{% endif %}{% if os == "macos" %}MacOS{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}</li>
            {% else %}
            <li>Operating Systems: all</li>
            {% endif %}
          </ul>
        </dd>
      </dl>
      {% if page.author %}
      <dl class="author">
        <dt>Author</dt>
        <dd>{{ page.author }}</dd>
      </dl>
      {% endif %}
      {% if page.homepage %}
      <dl class="homepage">
        <dt>Homepage</dt>
        <dd><a href="{{ page.homepage }}" target="_blank">{{ page.homepage }}</a></dd>
      </dl>
      {% endif %}
      {% if page.source %}
      <dl class="source">
        <dt>Source</dt>
        <dd><a href="{{ page.source }}" target="_blank">{{ page.source }}</a></dd>
      </dl>
      {% endif %}
      {% if page.license %}
      <dl class="license">
        <dt>License</dt>
        <dd>{{ page.license }}</dd>
      </dl>
      {% endif %}
      {% if page.screenshots %}
      <dl class="screenshots">
        <dt>Screenshots</dt>
        <dd>
          <ul class="thumbnails">
            {% for screenshot in page.screenshots %}
            <li class="span12">
              {% capture screenie %}{% include canonic_url url=screenshot.url %}{% endcapture %}
              <a href="{{ screenie }}" data-lightbox="{{ page.id }}" data-title="{{ screenshot.caption }}"><img src="{{ screenie }}" alt="{{ screenshot.alt }}" title="{{ screenshot.caption }}"></a>
            </li>
            {% endfor %}
          </ul>
        </dd>
      </dl>
      {% endif %}
    </div>

  </div>
</div>

