---
layout: plugin_list
---

{% assign topic_plugins = "" | split: '/' %}
{% for id in page.plugins %}
    {% assign fixed = id | prepend: '/plugins/' %}
    {% assign topic_plugins = topic_plugins | push: fixed %}
{% endfor %}

{% assign plugins_size = site.plugins | size %}
{% assign sampled_plugins = site.plugins | sample: plugins_size %}

<p><em>
  Topics are curated lists of plugins pertaining to a certain topic. They are provided for your convenience, they do not constitute official endorsement of any plugin.
</em></p>

{{ content }}

<ul>
  {% for plugin in sampled_plugins %}
  {% if topic_plugins contains plugin.id %}
  <li>{% include plugin_snippet plugin=plugin %}</li>
  {% endif %}
  {% endfor %}
</ul>

<hr />

<p>
  <small>Plugins are in random order.</small>
</p>
